<h1 align="center"> All Test Bloggers </h1>
<div align="center">
  <%= will_paginate %>
  <% @users.each do |k| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li><%= link_to gravatar_for(k), user_path(k) %></li>
          <li class="article-title">
            <%= link_to k.username, user_path(k) %>
          </li>
          <li><small><%= pluralize(k.articles.count, "article") if k.articles %>
          </small></li>
          <% if logged_in? and current_user.admin? %>
            <li><%= link_to "Delete this user", user_path(k), method: :delete,
              data: { confirm: "Are you sure you want to delete the user and all their articles?" }
              %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
